name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker

      - name: Build and Push Docker image
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/arquitecturabase-psw:${{ github.sha }} .
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/arquitecturabase-psw:${{ github.sha }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy arquitecturabase-psw \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/arquitecturabase-psw:${{ github.sha }} \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --project=${{ secrets.GCP_PROJECT_ID }}
